<!doctype html>
<html>
  <head>
    <title>ElBinAI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="chat-container">
      <h2 align="center">🤖 Prime Robotics Assistant by ElBinAI</h2>

      <div id="chat-box"></div>

      <div class="input-area">
        <input id="user-input" placeholder="Ask something..." />

        <button id="send-btn" onclick="sendMessage()">Send</button>

        <div id="loader" class="loader hidden"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
